.ProjectList {
	list-style-type: none;
	counter-reset: item;
	margin: 2em auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	li {
		counter-increment: item;
		margin-bottom: 5px;
		margin: 2em;
		display: flex; 

		h2 {
			display: inline-block;
			margin: 0;
		}

		.info {
			width: 20em;
			p {
				margin: 0;
				font-weight: light;
			}
		}

		.score {
			margin-left: 2em;
		}

		/* list numbers */
		&:before {
			position: relative;
			margin-left: -4em;
			margin-right: 1em;
			content: counter(item);
			display: inline-block;
			font-size: 3em;
			margin-top: -0.125em;
			font-weight: 700;

			text-align: right;
			width: 3em;			
		}
	}
}